@model IEnumerable<YarnStache.Models.Yarn>

@{
    ViewBag.Title = "YarnStache";
    Layout = "~/Views/Shared/_ContainerLayout.cshtml";
}

<h2>YarnStache</h2>


<p>
    @Html.ActionLink("Create New", "Create", "Yarns", new {@class = "btn btn-primary"})
</p>
<div class="table-responsive">

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ColorFamily)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DyeLot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FiberType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ColorFamily)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DyeLot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FiberType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
</div>
